<table class="table table-bordered table-striped">
  <tbody>
      <tr>
          <th>Id</th>
          <td>{{oUser.id}}</td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{oUser.name}}</td>
      </tr>
      <tr>
          <td>Surname</td>
          <td>{{oUser.surname}}</td>
      </tr>
      <tr>
          <td>Lastname</td>
          <td>{{oUser.lastname}}</td>
      </tr>
      <tr>
          <td>Email</td>
          <td>{{oUser.email}}</td>
      </tr>
      <tr>
          <td>Username</td>
          <td>{{oUser.username}}</td>
      </tr>     
      <tr>
          <td>Usertype</td>
          <td>{{oUser.usertype.id}}-{{oUser.usertype.name}}</td>
      </tr>
  </tbody>
</table>
