<table class="table table-bordered table-striped table-danger">
  <tbody>
      <tr>
          <th>Id</th>
          <td>{{oDeveloper.id}}</td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{oDeveloper.name}}</td>
      </tr>
      <tr>
          <td>Surname</td>
          <td>{{oDeveloper.surname}}</td>
      </tr>
      <tr>
          <td>Lastname</td>
          <td>{{oDeveloper.lastname}}</td>
      </tr>
      <tr>
          <td>Email</td>
          <td>{{oDeveloper.email}}</td>
      </tr>
      <tr>
          <td>Username</td>
          <td>{{oDeveloper.username}}</td>
      </tr>
      <tr>
          <td>Issues</td>
          <td>{{oDeveloper.issues}}</td>
      </tr>
      <tr>
          <td>Teams</td>
          <td>{{oDeveloper.teams}}</td>
      </tr>
      <tr>
          <td>Resolutions</td>
          <td>{{oDeveloper.resolutions}}</td>
      </tr>
      <tr>
          <td>Helps</td>
          <td>{{oDeveloper.helps}}</td>
      </tr>
      <tr>
          <td>Team</td>
          <td>{{oDeveloper.team.name}}</td>
      </tr>
      <tr>
          <td>Usertype</td>
          <td>{{oDeveloper.usertype.id}}-{{oDeveloper.usertype.name}}</td>
      </tr>
  </tbody>
</table>
<input type="text" class="form-control" id="example" [ngModel]="id" (keyup)="changeID($event)">